/* we will have three breakpoints  */

@media(max-width:1280px) {

  /* we will dec the gaps bw the divs or change there alignment basicilly :p  */
  header {
    padding: 1rem;
    gap: 2rem;
  }

  .about .about-container {
    gap: 3rem;
  }

  .skills-info {
    flex-direction: column;
  }

  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;

  }

  .input input::placeholder {
    font-size: 2rem;
  }

  .input-box {
    font-size: 2rem;
  }

}

@media(max-width:768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }

  header .logo {
    font-size: 1rem;

  }

  header .visit-btn {
    display: none;
  }
  .about-container{
    flex-direction: column;
  }
  .input-box input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  .input-box input::placeholder {
    font-size: 1.5rem;
  }

  .input-box i {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media(max-width:600px) {
  header #menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.871);
    border-radius: 3rem;
    display: none;
  }


.nav-links li {
  margin-top: 1.5rem;
  padding: 1rem;

}

.nav-links.active {
  display: block;
}
header{padding: 1rem 5rem;gap:8rem;}
header .log{
  font-size: 1.5rem;
}
.about-container img{
  width: 60vw;
}
.projects-grid{display: flex;flex-direction: column;}
.input-box input{
  padding: 0.5rem 3rem;
  width: 80%;font-size: 1.5rem;
}
.input-box input::placeholder{font-size: 1.5rem;}
footer ul{
  gap: 1rem;
}
}